@keyframes pop {
    from {border: 5px solid white;}
    to {border: 5px solid black;}
}
@keyframes afterpop {
    from {border: 5px solid black;}
    to {border: 5px solid white;}
}
.logo.container a:hover {
    opacity: .7;
}
.logo-container-nav:hover {
    opacity: .7;
}
.shop.container .shop:hover {
    opacity: .7;
}
.nav-icon:hover {
    opacity: .7;
}
.product-container.container:hover {
    background-color: black;
    animation: pop;
    animation-duration: .5s;
    animation-fill-mode: forwards;
}
.category:hover {
    background-color: black;
}
.category:hover a {
    color: white;
}
.product-container.container:hover .description-container.container .product-description {
    color: white;
}