html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

body {
    font-family: 'Roboto', sans-serif;
    color: #000000;
}
.container {
    display: flex;
    align-items: center;
}
.nav {
    position: relative;
    margin-bottom: 70px;
}

.fixed {
    position: fixed;
    width: 100%;
    height: 70px;
    display: flex;
    flex-direction: row;
    border-bottom: 1px solid rgb(0, 0, 0);
    background-color: white;
    z-index: 500;
    overflow: hidden;
    background-color: rgb(245, 245, 245);
}
.logo{
    padding: 2px 20px 3px;
}
.logo.name {
    height: 36px;
}
.logo.container {
    display: flex;
    flex-direction: column;
    align-content: center;

}
.logo.container .underline {
    width: 100%
}
.logo.container .logo.name {
    padding: 4px 0 0 0;
}
.shop {
    padding-right: 60px;
    font-size: 28px;
    letter-spacing: 1px;
    font-weight: 900;
    width: 20%;
    justify-content: center;
    color: black;
}
.icon-wrapper {
    width: 100%;
    display: flex;
    justify-content: flex-end;
}
.icon.container {
    width: 200px;
    align-content: center;
    justify-content: space-evenly;
}
.second-row {
    height: 50px;
    width: 100%;
    background-color: rgb(245, 245, 245);
    border-bottom: 1px solid rgb(0, 0, 0);
    border-top: 1px solid rgb(0, 0, 0);
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 0 15px;
    margin-top: 330px;
    position: relative;
}
.sub-categories {
    display: flex;
    flex-direction: row;
    width: 45%;
    justify-content: space-around;
    align-items: center;
    font-weight: 600;
}
a {
    text-decoration: none;
}
.nav-text {
    font-size: 23px;
    letter-spacing: 1px;
    color: #000000;
}
.category {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}
.search-wrapper {
    padding: 0 20px;
    width: 32%;
    flex-grow: 2;
}
.searchbar {
    background-color: rgb(221, 221, 221);
    width: 100%;
    padding-left: 10px;
    height: 35px;
}
input {
    height: 100%;
    width: 100%;
    background-color: rgb(221, 221, 221);
    border: none;
    font-size: 18px;
    padding: 0 20px;
    color: rgb(105, 105, 105);
}

.sub-categories.right {
    justify-content: space-evenly;
    padding-right: 12px;
    width: 25%;
    flex-shrink: 2;
}
img {
    display: block;
}
.carousel-container {
    background-color: rgb(245, 245, 245);
}
.carousel {
    display: flex;
    flex-direction: row;
    justify-content: center;
    border-bottom: 1px solid black;
}
.carousel-image {
    width: 100%;
    height: auto;
}
.image-container1 {
    width:29.751%;
}
.image-container2 {
    width:28.8%;
}
.image-container3 {
    width: 25.5%;
}
.gallery-heading.container{
    flex-direction: column;
    align-items: center;
    height: 80px;
    margin-top: 20px;
    width:500px
}
.gallery-heading.text{
    color: #000000;
    font-size: 40px;
    font-weight: 500;
    letter-spacing: 2px;
}
.gallery.container {
    flex-flow: wrap;
    padding: 20px 60px;
    justify-content: space-evenly;
}
.gallery.g1.container {
    border-bottom: 1px solid #000000;
}
.product-container {
    animation: afterpop;
    animation-duration: 1s;
    animation-fill-mode: forwards;
    flex: 1 1 100px;
    min-width: 350px;
    max-width:450px;
    margin: 25px;
    flex-direction: column;
    justify-content: space-evenly;
    border: 1px solid #CACACA;
    box-shadow: 1px 1px 6px rgb(191, 192, 192);
}
.image-container {
    justify-content: center;
    height: auto;
}
.product-image {
    width: 100%;
}
.description-container.container {
    flex-direction: column;
    min-height: 55px;
    justify-content: space-evenly;
    padding: 10px 0;
}
.product-description {
    text-align: center;
    padding: 0 10px;;
    font-size: 20px;
    font-weight: 500;
    letter-spacing: 1px;
    color: rgb(43, 43, 43);
}
footer {
    height: 160px;
    display: flex;
    justify-content: space-between;
    padding-bottom: 10px;
    border-top: 1px solid rgba(0, 0, 0, .4);
    box-shadow: 2px 2px 8px rgb(151, 151, 151);
    background-color: rgba(191, 192, 192, .15);
}
.footer-left-col {
    display: flex;
    margin-left: 20px;
    width: 25%;
    justify-content: center;
    color: rgb(76, 76, 76);
}
.footer-nav.container {
    justify-content: space-between;
    margin: 0 12px 0 20px;
}
p {
    padding: 2px;
}
.col {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
.footer-middle-col {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 35%;
}
.copyright {
    text-align: center;
}
.footer-middle-col {
    color: rgb(76, 76, 76);
}
.footer-middle-col .logo.container .logo.name {
    padding: 0 0 0 4px;
}
.footer-middle-col .logo.container {
    margin-bottom: 12px;
    flex-direction: column;
    opacity: .8;
}
.copyright:last-of-type {
    margin-top: 8px;
    width: 300px;
}
.social-media.container {
    width: 25%;
    justify-content: center;
}
.social-media-icon{
    height: 50px;
    width: 50px;
    margin: 0 6px;
    opacity: .8;
}
.social-media-icon:nth-child(3) {
    margin: 0 0 0 6px
}
.social-media-icon:last-of-type {
    margin: 0;
}
.menu {
    display: none;
}
.drop-down.nav-text {
    padding-left: 15px;
}
.dropbtn {
    background-color: #4CAF50;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
}
.logo-container-nav {
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    position: absolute;
    align-items: center;
    opacity: 0;
}
#flex {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
@media (max-width:1060px) {
    .nav-text {
        font-size: 19px;
    }
    .sub-categories.left .category:first-child {
        display: none;
    }
    .sub-categories.left {
        width:35%;
    }
    .col {
        font-size: 15px;
    }
    .copyright {
        font-size: 15px;
    }
    footer {
        height: unset;
        flex-direction: column;
        align-items: center;
    }
    footer :nth-child(1) {order: 3;}
    footer :nth-child(2) {order: 1;}
    footer :nth-child(3) {order: 2;}

    
    footer .footer-middle-col :nth-child(1) {order: 1;}
    footer .footer-middle-col :nth-child(2) {order: 2;}
    footer .footer-middle-col :nth-child(3) {order: 3;}
    
    .footer-middle-col {
        margin: unset;
        height: 250px;
        flex-direction: column;
    }
    .copyright {
        margin-bottom: 10px;
    }
    .footer-left-col {
        margin: 15px 0;
    }
    .social-media-icon {
        margin: unset;
    }
    .product-container {
        margin: 15px;
        min-width: 300px;
        max-width: 400px;
    }
    .product-description {
        font-size: 16px;
    }
}
@media (max-width: 650px) {
    .gallery.container {
        padding: 10px 0;
    }
    .product-container {
        margin: 15px;
        min-width: 200px;
        max-width: 280px;
    }
    .product-description {
        font-size: 15px;
    }
    .second-row {
        padding: unset;
    }
    .sub-categories.right {
        width: 35%;
    }
    .search-wrapper {
        padding: unset;
        width: 180px;
        flex-grow: unset;
    }
    .searchbar {
        width: 100%;
    }
    #underline {
        width: 60%
    }
    .icon.container {
        width: 200px;
        align-content: center;
        justify-content: space-evenly;
    }
    .shop {
        display: none;
    }
    .fixed {
        padding-left: 10px;
    }
    .logo-container-nav {
        width: 85%;
        justify-content: flex-start;
    }
    .menu {
        position: relative;
        display: flex;
    }
    .image-container1 {
        display: none;
    }
    .image-container2 {
        width:56.48%;
    }
    .image-container3 {
        width: 50%;
    }
    .menubtn {
        border: none;
        background: none;
        font-size: 23px;
        font-weight: 600;
        height: 100%;
        padding: 0 15px
    }
    .menu-content {
        display: none;
        position: absolute;
        background-color: #f1f1f1;
        min-width: 200px;
        border-bottom: 1px solid rgb(0, 0, 0);
        border-right: 1px solid rgb(0, 0, 0);
        border-left: 1px solid rgb(0, 0, 0);
        z-index: 400;
        right: 5px;
        left:-10px;
        top: 50px;
        background-color: rgb(245, 245, 245);
    }
    .menu-content a {
        color: black;
        padding: 12px 16px;
        display: block;
        font-size: 23px;
        letter-spacing: 1px;
        padding-left: 20px;
        width: 82%;
        font-weight: 600;
    }
    .menu-content a:hover {
        background-color: #000;
        color: white;
    }
    .menu:hover .menu-content {
        display: block;
    }
    .menu:hover .menubtn {
        background-color: #000;
        color: white;
    }
    .sub-categories {
        display: none;
    }
    .sub-categories.right {
        display: flex;
    }
}