html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
body {
    font-family: 'Cormorant Garamond', serif;
    color: #4C4C4C;

}
.nav-wrapper {/* can remove this for now */
    min-height: 105px;
    max-height: 130px;
}
.container {
    display: flex;
    align-items: center;
}
.nav {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-content: center;
}

.fixed {
    /* height: 52%; */
    height: 55px;
    display: flex;
    flex-direction: row;
}
.logo{
    padding: 0 20px;
}
.shop {
    margin: 0 50px;
    padding: 2px 0 0 0;
    font-size: 28px;
    letter-spacing: 1px;
    font-weight: 501;
}
.icon-wrapper {
    width: 100%;
    display: flex;
    justify-content: flex-end;
}
.icon.container {
    width: 200px;
    align-content: center;
    justify-content: space-evenly;
}
.second-row {
    height: 50px;
    /* height: 48%; */
    background-color: rgba(190, 190, 190, 0.15);
    border: 1px solid #CACACA;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.sub-categories {
    display: flex;
    flex-direction: row;
    width: 40%;
    justify-content: space-around;
    margin: 0 15px;
}
.search-wrapper {
    padding: 0 20px;
    width: 32%;
    flex-grow: 2;
}
.searchbar {
    background-color: rgba(191, 192, 192, .27);
    width: 100%;
    padding: 1.5px 1.5px 0 10px;
}
.search-text {
    font-size: 18px;
    padding: 0 20px;
    opacity: .4;
}
.category {
    font-size: 23px;
    letter-spacing: 1px;
    margin: 0 15px;
}
.sub-categories.right {
    justify-content: space-evenly;
    margin: 0 10px;
    width: 25%;
    flex-shrink: 2;
}
img {
    display: block;
}
.carousel-container {
    background-color: rgba(191, 192, 192, .5);
}
.carousel {
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.carousel-image {
    width: 100%;
    height: auto;
}
.image-container1 {
    width:29.751%;
}
.image-container2 {
    width:28.8%;
}
.image-container3 {
    width: 25.5%;
}
.sub-categories-carousel {
    height: 50px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    border-bottom: 1px solid #CACACA;
    background-color: rgba(191, 192, 192, .15);
    box-shadow: 1px 1px 6px rgb(191, 192, 192);
}
.middle-category {
    margin: 0 20px;
    font-size: 26px;
    letter-spacing: 1px;
    font-weight: 500;
}
.category.row-2 {
    font-size: 20px;
}
.gallery-heading.container{
    height: 80px;
    margin-left: 50px;
}
.gallery-heading {
    color: rgb(76, 76, 76);
    font-size: 40px;
    font-weight: 500;
    letter-spacing: 2px;
}
.gallery-heading-wrapper {
    border-bottom: 1.5px solid rgba(70, 70, 70, .9);
    padding: 0 10px;
}
.gallery.container {
    flex-flow: wrap;
    padding: 20px 80px;
}
.product-container {
    height: 400px;
    width: 380px;
    border: 1px solid black;
}
/* might be able to join these ^\/ */
.product-container.container {
    margin: 0 25px 25px 0;
    flex-direction: column;
    justify-content: space-evenly;
}
.image-container {
    height: 75%;
    width: 300px;
    margin-top: 20px;
    border: 1px solid black;
}
.description-container.container {
    flex-direction: column;
    height: 12%;
    justify-content: space-evenly;
    /* flex
    height: 50px; */
}
.product-description {
    /* fontstuff */
}

